<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <handlers>
      <clear />
      <add name="iisnode" path="/index.js" verb="*" modules="iisnode" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="http-to-https" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name="node" stopProcessing="true">
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_URI}" pattern="^/api/" />
          </conditions>
          <action type="Rewrite" url="/index.js" />
        </rule>
        <rule name="node_modules" stopProcessing="true">
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_URI}" pattern="^/node_modules/" />
          </conditions>
        </rule>
        <rule name="client">
          <action type="Rewrite" url="client{REQUEST_URI}" />
        </rule>
        <rule name="file" stopProcessing="true">
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_URI}" pattern="^/client/(?:app|node_modules|css|less|img|data)/" />
          </conditions>
        </rule>
        <rule name="app" stopProcessing="true">
          <action type="Rewrite" url="client/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8192" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>